# App
Config/croogo.php
Config/database.php
Config/settings.json
webroot/uploads/
Vendor/autoload.php
Vendor/bin
Vendor/composer
Vendor/croogo
Vendor/cakephp
*.bak
*.swp

# Packages
cookbooks/
node_modules/
webroot/vendors/

# Cake cache
tmp/

# Others
.DS_Store
