[submodule "Vendor/cakephp/cakephp"]
	path = Vendor/cakephp/cakephp
	url = http://github.com/cakephp/cakephp
[submodule "Vendor/croogo/croogo"]
	path = Vendor/croogo/croogo
	url = http://github.com/croogo/croogo
[submodule "Plugin/Ckeditor"]
	path = Plugin/Ckeditor
	url = http://github.com/croogo/Ckeditor
[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = http://github.com/CakeDC/migrations
[submodule "Plugin/Search"]
	path = Plugin/Search
	url = http://github.com/CakeDC/search
[submodule "Bloogo"]
	path = View/Themed/Bloogo
	url = https://bitbucket.org:croogo/Bloogo-Theme
[submodule "Croogo-Theme"]
	path = View/Themed/Croogo
	url = https://bitbucket.org:croogo/Croogo-Theme
[submodule "Sites"]
	path = Plugin/Sites
	url = http://github.com/rchavik/Sites
[submodule "SeoLite"]
	path = Plugin/SeoLite
	url = http://github.com/xintesa/SeoLite
